.about-us {
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: column;
  background-position: center;
  background-color: #FEFAE0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #FEFAE0;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer button {
  margin-right: 15px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8a9b01;
  height: 70px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.about-us p {
  font-size: 25px;
  width: 50%;
}

@media only screen and (max-width: 650px) {
  .aboutus {
    justify-content: center;
    align-items: center;
  }  
}
