/* contact form stlyling */
.contact-container {
  background: #FEFAE0;
  font-family: 'Aleo', serif;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-container h2 {
  font-size: 53px;
  font-weight: 700;
  color: #283618;
  margin-bottom: 30px; 
}

.contact-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.contact-form {
  flex: 1.5;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 30px; 
}

.submit-button {
  font-family: 'Aleo', serif;
  background-color: #DDA15E; 
  color: white; 
  font-size: 20px; 
  padding: 15px 40px; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.submit-button:hover {
  background-color:  #DDA15E; 
}

.form-group {
  position: relative;
  margin-bottom: 40px; 
}

.form-group label {
  font-size: 34px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  display: block;
  margin-bottom: 8px; 
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #838B5C; 
  font-size: 34px;
  color: black;
  background-color: transparent; 
}

/* this is for the text box on the contact page */
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #838B5C;
  font-size: 18px; 
  color: black;
  background-color: transparent;
  height: 150px; 
  overflow: auto; 
}

input[type=submit] {
  border: none;
  float: left;
  background:#606C38;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 24px; 
  padding: 20px 60px; 
  display: block; 
  margin: 20px auto; 
}



.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 60px; 
}

.info-item img {
  width: 100px; 
  height: 100px;
  margin-right: 20px; 
}

.info-item p {
  font-size: 38px;
  line-height: 46px;
  color: #000000;
  margin: 0; 
  min-width: none;
  text-align: left;
}


.info-item div {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

/* this is the information/email/phone */
.info-item .contact-detail {
  font-size: 30px; 
  text-align: left; 
  color: #606C38;
}

@media (max-width: 600px) { 

  .contact-container .touch {
    font-size: 30px;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.contact-content {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.contact-info .contact-detail {
  font-size: 15px;
}

.contact-email {
  font-size: 10px;
}

.contact-form {
    height: 20%;
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 5px;
    box-sizing: border-box;
}

.contact-info {
  margin-left: 0;
    width: 80%;
    box-sizing: border-box;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.info-item img {
    height: 30px;
    width: 34px;
    margin-right: 10px;
}

.info-item p {
    margin: 0;
    font-size: 14px;
}

.contact-detail:hover {
    text-decoration: underline;
}

.contact-form .submit-button {
  width: 70px;
  padding: 8px 16px;
  font-size: 13px;
}
}
