.get-involved {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    background-color: #FEFAE0;
    height: 100%;
  }

  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  .get-involved h2 {
    font-size: 40px;
  }

  .involved-text {
    color: #606C38;
    text-align: center;
    margin-left: 40px;
  }

  .top-row-photos {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    flex-wrap: wrap; 
    gap: 200px;
  }

  .involved-photo {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; /* Maintain aspect ratio while resizing */
    margin: 5px; /* Add some space between images */
  }

  .top-row-photos img {
    width: 300px;
  }

  .picture-captions {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly; /* Ensures equal space between items */
  }
  
  .picture-captions p {
    color: #606C38;
    font-weight: 600;
    margin: 0 150px; /* Adjust the horizontal margin to create space between items */
    flex-grow: 1; /* Allow items to grow to occupy available space */
    text-align: center; /* Center-align the text within each item */
  }
  
  
  .row-text {
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction: row;
    justify-content: space-evenly; /* Space items evenly along the main axis */
  }

  .small-paragraph {
    justify-content: space-evenly;
    font-size: 20px;
    flex: 1; /* Allow paragraphs to grow and shrink within the flex container */
    max-width: 20%; /* Limit the maximum width of the paragraphs */
    padding: 0;
    margin: 0 -220px;
    margin-bottom: 30px;
    margin-top: 30px;
  }


  .options {
    display: flex;
    justify-content: space-between; 
  }
  
  .get-involved-button {
    color: white;
    background-color: #8a9b01;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 60px;
    width: 180px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0 160px;
  }
  
  .get-involved-button:hover {
    background-color: #07090a;
    transition: 0.3s ease-in;
  }

  .container {
    display: flex;
    align-items: center; 
  }

  .container  h2 {
    color:#606C38;
  }

  .open-text {
    display: flex;
    justify-content: center;

  }
  
  .pickup-photo {
    display: inline-block; /* Display the image as inline-block */
    vertical-align: middle; /* Align the image vertically with the text */
    margin-right: 300px;
  }

  .food-pickup {
    display: flex; /* Display the div as inline-block */
    vertical-align: middle; /* Align the div vertically with the text */
    margin-left: 10px; /* Adjust the left margin as needed */
    flex-direction: column;
  }

  .food-pickup p {
    margin-top: 6px;
    text-align: left;
  }

  .food-pickup button {
    color: white;
    background-color: #8a9b01;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    height: 60px;
    width: 150px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

 
  
  @media only screen and (max-width: 600px) {
    .get-involved h2 {
      font-size: 30px; /* Reduce font size */
    }
  
    .top-row-photos {
        justify-content: center; /* Center the images horizontally */
        gap: 10px; /* Reduce gap between images */
      }

    .involved-text 

    .get-involved {
      width: 50px;
    }
    
    .top-row-photos {
      flex-direction: row;
    }

    .top-row-photos img {
        width: 50%; /* Make images responsive */
        max-width: 100px; /* Set max-width for smaller screens */
    }
    
    .picture-captions {
        margin-top: 30px; /* Reduce margin */
        justify-content: center; /* Center captions */
    }
    
    .picture-captions p {
        font-size: 16px; /* Reduce font size */
        margin: 0 10px; /* Adjust margin */
    }
    
    .small-paragraph {
        font-size: 13px; /* Reduce font size */
        max-width: 100%; /* Allow paragraphs to fill container */
        margin: 0; /* Remove margins */
    }
    
    .options {
        flex-direction: row; /* Stack options vertically on smaller screens */
        align-items: center; /* Center options vertically */
        gap: 35px;
    }
    
    .get-involved-button {
        width: 100%; /* Make button full width */
        margin: 20px 0; /* Add vertical margin */
        font-size: 20px; /* Reduce font size */
    }


    .container {
      margin-left: 0;
      display: flex;
      align-items: center; /* Align items vertically */
  }

  .pickup-photo {
    margin-left: 10px;
    width: 50%; /* Make images responsive */
    max-width: 100px; /* Set max-width for smaller screens */
    margin-right: 100px;
  }

  .food-pickup {
      max-width: 80px; /* Limit container width */
      text-align: center; /* Center-align content */
  }

  .food-pickup h2 {
      font-size: 20px; /* Reduce font size */
  }

  .food-pickup p {
      font-size: 12px; /* Reduce font size */
        max-width: 100%; /* Allow paragraphs to fill container */
        margin-bottom: 25px;
  }

  .food-pickup .apply {
      width: 100px; /* Make button full width */
      font-size: 16px; /* Reduce font size */
  }

    
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .involved-photo {
    max-width: 60%; /* Ensure images don't exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some space between images */
    width: 100px;
  }

  .top-row-photos {
    gap: 400px;
  }

  .get-involved-button {
    justify-content: space-between;
    margin-top: 60px;
    height: 70px;
    width: 200px;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    gap: 200px;
  }
}


@media screen and (min-width: 1600px) {
  
}
