.get-involved {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    background-color: #FEFAE0;
    height: 100vh;
  }
  
  .options {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 15px; 
  }
  
  .get-involved-button {
    color: white;
    background-color: #8a9b01;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 70px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .get-involved-button:hover {
    background-color: #07090a;
    transition: 0.3s ease-in;
  }
  
  
  @media only screen and (max-width: 650px) {
    .options {
      flex-direction: column;
      gap: 10px; 
    }
  
    .get-involved {
      align-items: center; 
    }
  }