.home {
  width: 100vw;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FEFAE0;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
}

.home h2 {
  margin-top: 0;
  color: #606C38;
  text-align: left;
  font-size: 40px;
  margin-bottom: 5px;
}

.text-above span {
  color: #606C38;
}

.text-container { 
  margin-top: 100px;
  display: inline-block;
  width: auto; /* Adjust width as needed */
}

.text-above {
  background-color: #FEFAE0; 
  color: #DDA15E; 
  margin-right: 60px;
  padding: 30px;
  height: auto;
  width: auto;
}

.text-above p {
  text-align: left;
  max-width: 1200px;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px; /* Increase margin between paragraphs */
}

.text-above-line {
  display: block;
  width: 100%; /* Set the width of the hr to match its container */
  height: 4px;
  background-color: #DDA15E;
  color: #DDA15E;
  border: none;
  margin: 20px auto; 
}

.our-fridges-line {
  width: 18%;
  margin-left: 0;
  margin-top: 0;
  height: 4px;
  background-color: #DDA15E;
  color: #DDA15E;
  border: none;
}


.fridge-stock {
  float: right;
  color:#DDA15E;
  font-weight: 400;
}

.locations-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 35px;
  width: 100%;
}

.locations-buttons button {
  background-color: #DDA15E; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px; 
  color: white; 
  border-radius: 15px; 
  
}

.fridges-section {
  text-align: center;
  margin-top: 20px;
}

.fridges-section h2 {
  text-align: center;
  margin-top: 20px;
}

.map {
  width: 48%;
  padding: 20px;
}

.map-info {
  border: 2px;
  border-color: black;
  border-radius: 8px;
}

.map iframe {
  width: 100%;
  height: 600px;
}

.get-h2,
.free-food h2 {
  position: relative;
}

.free-food-header,
 .get-involved-header {
  margin-left: 30px;
  color: #DDA15E;
  font-weight: 400;
}

.free-food,
 .home .get-involved {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #DDA15E;
    max-width: 1900px; /* Set a maximum width to limit the size of the div */
    margin-right: 80px;
}

.free-food {
  margin-bottom: 60px;
}

.food-line {
  width: 10%;
  margin-left: 382px;
  margin-top: 0;
  height: 4px;
  background-color: #DDA15E;
  color: #DDA15E;
  border: none;
}

.get-line {
  width: 13%;
  margin-left: 385px;
  margin-top: 0;
  height: 4px;
  background-color: #DDA15E;
  color: #DDA15E;
  border: none;
}

.get-involved {
  margin-bottom: 40px;
}

.free-food-text,
  .home .get-involved-text {

    width: 70%;
    text-align: left;
    color: #606C38;
    margin-left: 190px;
}


.free-food h2 {
  font-size: 40px; /* Adjust the font size as needed */
  margin-right: 190px;
  color: #606C38;
}

.get-h2 {
  margin-right: 340px;
  color: #606C38;
}


.locations-buttons button:hover {
  background-color:  #606C38; 
  transition: 0.5s;
}


@media (max-width: 600px) {
  /* .homePage {
    width: 100%;
  } */

  .home {
    width: 100vw;
    padding: 10px; 
    justify-content: center;
    align-items: center;
  }

  .text-container {
    margin-top: 0;
  }

  .text-above {
    width: 90%;
    margin-top: 60px; /* Adjust top margin to create space below the nav bar */
    text-align: center;
  }

  .text-above-line {
    width: 100%;
  }

  .text-above p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .our-fridges-line {
    width: 20%;
    margin-left: 27px;
  }

  .fridges-section,
  .free-food,
  .get-involved {
    justify-content: center;
    text-align: center; /* Center the content */
    width: 100%; /* Set a smaller percentage width */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    padding: 0;
  }

  .home h2,
  .fridges-section h2,
  .get-involved-header { 
    margin-left: 10px;
    font-size: 16px; 
    text-align: center;
  }

  .free-food-header {
    margin-left: 30px;
    font-size: 16px; 
    text-align: center;
  }


  
  .free-food h2,
  .home .get-h2 {
    margin-right: 0;
    margin-left: 84px;
    font-size: 16px; 
  }

  .get-line {
    width: 23%;
    margin-left: 94px;
  }

  .food-line { 
    width: 20%;
    margin-left: 82px;
  }


  .home .get-involved-text { 
    margin-left: 120px;
  }


  .free-food-text,
  .get-involved-text {
    text-align: center;
    margin-left: 100px;
    font-size: 14px;
    text-align: left;
    color: #606C38;
  }


  .map iframe {
    margin-left: -65px;
    margin-top: 0;
    width: 180%; 
    height: 200px; 
  }

  .locations-buttons button {
    padding: 6px 12px; /* Reduce padding */
    font-size: 12px; /* Reduce font size */
    margin-bottom: 0;
  }

  .locations-buttons {
    gap: 5px; 
  }

  .footer {
    width: 120%;
  }
}

/* Media Query for Medium Devices (601px to 1200px) - Laptops */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .home {
    padding: 20px; /* Adjust padding */
  }

  .text-above {
    width: 80%; /* Adjust width */
    margin-top: 60px; /* Adjust top margin */
    padding: 30px; /* Adjust padding */
  }

  .text-above p {
    font-size: 30px; /* Adjust font size */
    margin-bottom: 20px; /* Increase margin between paragraphs */
  }

  .free-food,
  .get-involved {
    width: 80%; /* Adjust width */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    padding: 30px; /* Adjust padding */
    margin-bottom: 30px; /* Increase margin between sections */
  }

  .fridges-section {
    width: 47%; /* Adjust width */
    font-size: 30px; /* Adjust font size */
  }

  .home h2,
  .free-food-header,
  .get-involved-header,
  .get-involved h2 {
    font-size: 20px; /* Adjust font size */
  }

  .home .get-h2 {
    font-size: 20px; /* Adjust font size */
  }

  .free-food-text,
  .get-involved-text {
    font-size: 14px; /* Adjust font size */
    text-align: left;
    color: #606C38;
  }

  .map {
    margin-top: 0;
    width: 70%;
  }


  .locations-buttons button {
    padding: 10px 24px; /* Adjust padding */
    font-size: 13px; /* Adjust font size */
    margin-bottom: 0;
    font-weight: 500;
  }
}
