.home {
  width: auto;
  min-height: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #FEFAE0;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
}

.home h2 {
  margin-top: 0;
  color: #606C38;
  text-align: left;
  font-size: 40px;
  margin-bottom: 5px;
}

.text-above span {
  color: #606C38;
}

.text-container {
  margin-top: 600px;
  display: inline-block;
  width: auto; /* Adjust width as needed */
}

.text-above {
  text-align: center;
  background-color: #FEFAE0; 
  color: #DDA15E; 
  margin-right: 60px;
  padding: 30px;
  height: auto;
  width: auto;
}

.text-above p {
  text-align: left;
  max-width: 1200px;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px; /* Increase margin between paragraphs */
}

.text-above-line {
  display: block;
  width: 100%; /* Set the width of the hr to match its container */
  height: 4px;
  background-color: #DDA15E;
  color: #DDA15E;
  border: none;
  margin: 20px auto; 
}


.our-fridges-line {
  width: 18%;
  margin-left: 0;
  margin-top: 0;
  height: 4px;
  background-color: #DDA15E;
  color: #DDA15E;
  border: none;
}


.fridge-stock {
  float: right;
  color:#DDA15E;
  font-weight: 400;
}

.locations-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 35px;
  width: 100%;
}

.locations-buttons button {
  background-color: #DDA15E; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px; 
  color: white; 
  border-radius: 15px; 
  
}

.fridges-section {
  text-align: center;
  margin-top: 20px;
}

.map {
  width: 46%;
  padding: 20px;
  
}

.map-info {
  border: 2px black;
}

.map iframe {
  width: 100%;
  height: 600px;
 
}

.free-food {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
  color: #DDA15E; 
  margin-right: 60px;
  padding: 30px;
  height: auto;
  width: auto;
}

.free-food-header {
  display: inline-block;
  justify-content: space-between; 
  color: #DDA15E;
  font-weight: 400;
  width: auto;
}



.free-food-text {
  width: 80%;
  text-align: left;
  color: #606C38;
}


.get-involved-header {
  display: inline-block;
  justify-content: space-between; 
  color: #DDA15E;
  font-weight: 400;
  width: auto;
}

.get-involved-text {
  width: 80%;
  text-align: left;
  color: #606C38;
}

.locations-buttons button:hover {
  background-color:  #606C38; 
  transition: 0.5s;
}


@media screen and (max-width: 600px) {
  .home {
    padding: 10px; 
    justify-content: center;
    align-items: center;
  }

  .text-container {
    margin-top: 0;
  }

  .text-above {
    width: 90%;
    margin-top: 60px; /* Adjust top margin to create space below the nav bar */
    text-align: center;
  }

  .text-above p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .fridges-section,
  .free-food,
  .get-involved {
    text-align: center; /* Center the content */
    width: 80%; /* Set a smaller percentage width */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    padding: 0;
  }

  .home h2,
  .fridges-section h2,
  .free-food-header,
  .get-involved-header {
    font-size: 18px; 
  }

  .free-food-text,
  .get-involved-text {
    font-size: 14px;
    text-align: left;
    color: #606C38;
  }

  .map iframe {
    margin-top: 0;
    width: 100%; 
    height: 200px; 
  }

  .locations-buttons button {
    padding: 6px 12px; /* Reduce padding */
    font-size: 12px; /* Reduce font size */
    margin-bottom: 0;
  }

  .locations-buttons {
    gap: 5px; 
  }
}


@media only screen and (max-width: 2500px) {
  .home {
    padding: 10px; 
    justify-content: center;
    align-items: center;
  }

  .text-container {
    margin-top: 0;
  }

  .text-above {
    width: 90%;
    margin-top: 60px; /* Adjust top margin to create space below the nav bar */
    text-align: center;
  }

  .text-above p {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .free-food,
  .get-involved {
    text-align: center; /* Center the content */
    width: 80%; /* Set a smaller percentage width */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    padding: 0;
  }

  .fridges-section {
    text-align: center; /* Center the content */
    width: 47%; /* Set a smaller percentage width */
    max-width: 100%; /* Ensure it doesn't exceed the screen width */
    font-size: 30px;
  }

  .home h2,
  .free-food-header,
  .get-involved-header {
    font-size: 18px; 
  }

  .free-food-text,
  .get-involved-text {
    font-size: 14px;
    text-align: left;
    color: #606C38;
  }

  .map iframe {
    margin-top: 0;
    width: 100%; 
    height: 200px; 
  }

  .locations-buttons button {
    padding: 6px 12px; /* Reduce padding */
    font-size: 12px; /* Reduce font size */
    margin-bottom: 0;
  }

  .locations-buttons {
    gap: 5px; 
  }
}
