.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #FEFAE0;
  
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-above span {
  color: #606C38;
}


.text-above {
  text-align: center;
  width: 50%; 
  background-color: #FEFAE0; 
  color: #DDA15E; 
  font-size: 45px;
  font-weight: 600;
  margin-right: 60px;
}

.home h2 {
  margin-top: 0;
  color: #606C38;
  text-align: left;
  font-size: 40px;
}

.fridge-stock {
  float: right;
  color:#DDA15E;
  font-weight: 400;
}

.locations-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.locations-buttons button {
  background-color: #DDA15E; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px; 
  color: white; 
  border-radius: 20px; 
  
}

.fridges-section {
  text-align: center;
  margin-top: 20px;
}



.locations-buttons button:hover {
  background-color: #000000; 

}

@media only screen and (max-width: 700px) {
  .home {
    padding: 10px; 
    height: auto; 
  }
  .text-above {
    margin-bottom: 20px; 
    width: 85%; 
  }
  .text-above p {
    font-size: 14px; 
  }

  .fridges-section h2 {
    font-size: 18px; 
  }
  .map iframe {
    width: 100%; 
    height: 300px; 
  }

  .locations-buttons button {
    padding: 8px 15px; 
    font-size: 14px; 
    margin: 5px; 
  }

  .locations-buttons {
    gap: 5px; 
  }
  
}